* {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

body,html {
    margin: 0;
}

header,nav,footer {
    color: white;
    padding: 2px;
}

header,footer {
    background-color: darkgreen;
}

nav {
    background-color: forestgreen;
}

#left,#right,#center {
    background-color: lightgreen;
    width: 33.3%;
    height: 720px;
    padding-top: 10px;
    overflow: auto;
}

h2 {
    width: 33%;
    display: inline-block;
}

table,td,th {
    border: solid 1px darkgreen;
}

table {
    width: 90%;
    border-collapse: collapse;
}

#center img {
    width: 95%;
    border-radius: 8px;
}

#left tr:hover {
    background-color: forestgreen;
}

#right img {
    width: 40%;
    border-radius: 8px;
}

#sections {
    display: flex;
}
