header {
    background-color: red;
    width: 70%;
    height: 200px;
    float: left;
}

aside {
    background-color: green;
    width: 30%;
    height: 800px;
    float: right;
}

main {
    background-color: whitesmoke;
    width: 70%;
    height: 600px;
    float: left;
}

footer {
    background-color: burlywood;
    width: 100%;
    height: 145px;
    float: left;
}