body {
    font-family: Georgia;
    color: white;
}

header,footer {
    background-color: #824555;
    text-align: center;
    padding: 20px;
}

#lewy,#center {
    width: 30%;
    height: 350px;
}

#lewy {
    background-color: #A26475;
}

#center {
    background-color: #824555;
}

#prawy {
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
}

img {
    float: left;
    width: 50px;
}

p,table,dt {
    margin: 10px;
}

dl {
    padding-top: 20px;
}

td,th {
    border: solid 3px #824555;
    padding: 5px;
}

#lewy,#center,#prawy {
    float: left;
}

footer {
    clear: both;
}

